<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dvlmods.vip">

    <!-- Ứng dụng này có thể xuất hiện ở phía trên cùng của các ứng dụng khác -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- có quyền truy cập mạng đầy đủ -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- ngăn điện thoại chuyển sang chế độ ngủ -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name="com.dvlmods.vip.MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <service
            android:name="com.dvlmods.vip.Launcher"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true"/>

    </application>

</manifest>